body {
	font-family: Quicksand, sans-serif;
	font-size: 1em;
	color: #630657;
}

header {
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	background-image: url('../images/fruit.jpg');
}

.logo {
	margin: auto;
	padding: 3em;
}

.input-area {
	background-color: #fff;
	padding: 20px;
	border-bottom: 3px solid #cecdcd;
}

#entry {
	font-family: Quicksand, sans-serif;
	font-size: 1em;
	color: #630657;
	line-height: 32px;
	border: 0;
	width: 70%;
}

#entry:hover, #entry:focus {
	outline: 0;
}

p {
	color: #cecdcd;
}

.add, .clear {
	cursor: pointer;
	float: right;
	font-size: 0.9em;
	font-family: Quicksand, sans-serif;
	color: #fff;
	background-color: #630657;
	padding: 10px;
	border: 0;
	margin: 0;
}

.unchecked, .checked {
	background-color: #f2f2f2;
	padding: 20px 20px 20px 75px;
	line-height: 32px;
	border-bottom: 1px solid #cecdcd;
	vertical-align: middle;
	background-repeat: no-repeat;
	background-position: 24px 50%;
	cursor: pointer;
}

.unchecked {
	background-image: url('../images/box.jpg');
}

.checked {
	background-image: url('../images/box-checked.jpg');
	text-decoration: line-through;
}

li {
	color: #630657;
}

.remove {
	cursor: pointer;
	background-image: url('../images/x.png');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-top: 8px;
}

.end {
	background-color: #fff;
	padding: 24px;	
}



